@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Poppins&family=Titillium+Web:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --title-font: 'Poppins', sans-serif;
    --text-font: 'Exo', sans-serif;
    --main-color: #4169E1;
    --details-color: #fbec5d;
}

body {
    min-height: 100vh;
}

.header {
    position: fixed;
    padding-top: 20px;
    padding-bottom: 0px;
    width: 100%;
    padding: 1,3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 1px solid #000000;
}


.header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(249, 249, 249, 0.1);
    backdrop-filter: blur(50px); 
    z-index: -1;
}
.nav_list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 40px;
}


.nav_list a {
    position: relative;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    transition: color 0.3s;

 &:hover {
    color: rgba(42, 130, 55, 0.783);
 }

 &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: red;
    transition: width 0.3s;
}

 &:hover:before {
    width: 100%;
 }
}

.logo_words {
    margin-left: 10px;
}

.logo {
    width: 80px;
    height: auto;
    margin-left: 60px;
}

.nav a {
    font-size: 1.15rem;
    font-weight: 500;
    font-family: var(--text-font);
    margin-left: 2.5rem;
}

#check {
    display: none;
}

.icon {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    cursor: pointer;
    display: none;
}

@media(max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media(max-width: 768px) {
    .icon {
        display: inline-flex;
    }

    #check:checked ~ .icon #menu-icon {
        display: none;
    }

    .icon #close-icon {
        display: none;
    }

    #check:checked ~ .icon #close-icon {
        display: block;
    }

    .nav {
        position: absolute;
        top: 100%;
        left: 0%;
        min-height: 0;
        width: 100%;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50%);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: height 0.3s ease;
        height: 0;
    }

    #check:checked ~ .nav {
        height: 17.7rem;
    }

    .nav_list a {
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        display: block; 
    }

    .nav_list {
        font-size: 2.1rem;
        margin: 1rem 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.icon {
    width: 40px;
    height: auto;
}
.info-block {
    display: flex;
    justify-content: space-around; /* розподіляє вільний простір навколо елементів */
    align-items: center; /* вирівнювання елементів по центру в поперечному напрямку */
    padding: 10px 20px;
    background-color: #f5f5f5;
}